@model List<ECommerceViewModel.Datum>

@{
    ViewData["Title"] = "Gerçek Zamanlı Ürün Fiyatları";
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<br />
<div class="container">
    <div class="card">
        <h4 class="card-title">Gerçek Zamanlı Ürün Fiyatları</h4>
        <br />
        <div class="col-md-12">
            <div class="chart-box">
                <div class="form-group">
                    <form method="post">
                        <input name="productName" placeholder="Aranacak Ürün Adı" type="text">
                        <button class="btn btn-primary" type="submit">Web'de Ara</button>
                    </form>
                </div>
                <table class="table table-responsive table-hover" id="tblProducts">
                    <thead>
                        <tr>
                            <th class="sortable">Ürün Görseli</th>
                            <th class="sortable">Ürün Adı</th>
                            <th class="sortable">Fiyat</th>
                            <th class="sortable">Ürün Puanı</th>
                            <th class="sortable">Ürün Sayfası</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Any())
                        {
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td><img src="@item.product_photos[0]" style="height:100px;width:100px" /></td>
                                    <td>@item.product_title</td>
                                    <td>@item.offer.price</td>
                                    <td>@item.product_rating</td>
                                    <td> <a href="@item.product_page_url" class="btn btn-outline btn-rounded btn-info"><i class="fa fa-info"></i> Ürüne Git</a></td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="5" class="alert alert-warning">Uygun Veri Bulunamamıştır.</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>