@model List<ResultOrderingByUserIdDto>
@{
    ViewData["Title"] = "MyOrderList";
    Layout = "~/Areas/User/Views/UserLayout/Index.cshtml";
    int count = 0;
}

<style>
    .table-striped tbody tr:nth-child(1) {
        background-color: #d1ecf1;
    }

    .table-striped tbody tr:nth-child(2) {
        background-color: #ffeeba;
    }

    .table-striped tbody tr:nth-child(3) {
        background-color: #f5c6cb;
    }

    .table-striped tbody tr:nth-child(4) {
        background-color: #c3e6cb;
    }

    .table-striped tbody tr:nth-child(5) {
        background-color: #b8daff;
    }

    .table-striped tbody tr:nth-child(6) {
        background-color: #d6d8db;
    }

    .table-striped tbody tr:nth-child(7) {
        background-color: #e2e3e5;
    }

    .card-title {
        margin-bottom: 1rem;
        font-size: 1.25rem;
        font-weight: 600;
        color: #3d464d;
    }

    .table-container .table {
        width: 100%;
    }
</style>

<div class="table-container">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Sipariş Geçmişim</h4>
            <div class="table-responsive pt-3">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Sipariş Numarası</th>
                            <th>Sipariş Tarihi</th>
                            <th>Toplam Fiyat</th>                            
                            <th>Durum</th>                            
                            <th>Sipariş Detayları</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            count++;
                            <tr>
                                <td>@count</td>
                                <td>@item.OrderNumber</td>
                                <td>@(((DateTime)item.OrderDate).ToString("dd-MMM-yyyy"))</td>
                                <td>@item.TotalPrice ₺</td>
                                <td>
                                    @{
                                        var statusText = item.Status switch
                                        {
                                            0 => "Beklemede",
                                            1 => "İptal Edildi",
                                            2 => "Kargoya Verildi",
                                            3 => "Teslim Edildi",
                                            4 => "İade Talep Edildi",
                                            5 => "İade Edildi",
                                            6 => "İade Reddedildi",
                                            _ => "Bilinmiyor"
                                        };

                                        var badgeClass = item.Status switch
                                        {
                                            0 => "secondary", // Beklemede
                                            1 => "danger",    // İptal Edildi
                                            2 => "info",      // Kargoya Verildi
                                            3 => "success",   // Teslim Edildi
                                            4 => "warning",   // İade Talep Edildi
                                            5 => "dark",      // İade Edildi
                                            6 => "danger",    // İade Reddedildi
                                            _ => "primary"
                                        };
                                    }
                                    <span class="badge bg-@badgeClass">@statusText</span>
                                </td>
                                <td><a href="/User/MyOrder/MyOrderDetail/@item.OrderingId" class="btn btn-warning btn-sm">Sipariş Detayları</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
