@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/_UILayout.cshtml";
    var currentPath = Context.Request.Path;
}

<style>
    .nav-link-user {
        display: block;
        padding: 0.5rem 1rem;
        font-weight: 400;
        color: #3d464d;
        text-align: center;
        white-space: nowrap;
        background-color: white;
        border: 1px solid slategrey;
        text-decoration: none;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

        .nav-link-user.active {
            background-color: #ffd333;
            color: #3d464d;
        }

        .nav-link-user:hover {
            background-color: #3d464d;
            color: #ffd333;
        }

        .nav-link-user:focus {
            outline: none;
            box-shadow: 0 0 0 0.2rem #3d464d;
        }

    .sidebar {
        margin-left: 60px; /* Sidebar’ı hizalar */
        padding: 0;
        width: 20%; /* Sidebar'ı %20 genişliğinde yapalım */
    }

    .content {
        padding-left: 10px; /* İçerikte biraz boşluk bırakılabilir */
        margin-left: 0%;
    }

    .container-fluid {
        padding-left: 0; /* Container'a padding vermemek için */
        padding-right: 0;
    }

    .row {
        display: flex; /* Flexbox kullanarak hizalamayı yapalım */
        flex-wrap: wrap;
    }

    .col-lg-3 {
        flex: 0 0 16.5%; /* Sidebar genişliği */
    }

    .col-lg-9 {
        flex: 0 0 100%; /* İçerik kısmı %80 */
    }
</style>

<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-lg-3 sidebar">
            <ul class="nav flex-column shadow">
                <li class="nav-item">
                    <a class="nav-link-user @(currentPath == "/User/AnotherLink" ? "active" : "")" href="/User/AnotherLink">Profilim</a>
                </li>
                <li class="nav-item text-dark">
                    <a class="nav-link-user @(currentPath == "/User/MyOrder/MyOrderList" ? "active" : "")" href="/User/MyOrder/MyOrderList">Siparişlerim</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link-user @(currentPath == "/User/Cargo/Index" ? "active" : "")" href="/User/Cargo/Index">Kargolarım</a>
                </li>
                <li class="nav-item text-dark">
                    <a class="nav-link-user @(currentPath == "/User/Message/Inbox" ? "active" : "")" href="/User/Message/Inbox">Gelen Mesajlarım</a>
                </li>
                <li class="nav-item text-dark">
                    <a class="nav-link-user @(currentPath == "/User/Message/Sendbox" ? "active" : "")" href="/User/Message/Sendbox">Giden Mesajlarım</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link-user @(currentPath == "/User/AnotherLink" ? "active" : "")" href="/Login/LogOut">Çıkış Yap</a>
                </li>
            </ul>
        </div>

        <!-- İçerik -->
        <div class="col-lg-9 content">
            <div class="container-fluid">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>
</div>
